<div ng-cloak ng-controller="drzavaCtrl as $ctrl">
	<div>
		<h1>Drzava</h1>
		<!--<a ng-click="logOut()" href="">Izloguj se</a>-->
	</div>

	<div>
		<div id="tabs">
			<ul>
				<li ng-class="{active: isSet(0)}"><a ng-click="setTab(0)"
					href=""><span>Drzave</span></a></li>
				<li ng-class="{active: isSet(1)}"><a ng-click="setTab(1)"
					href=""><span>Dodaj drzavu</span></a></li>
			</ul>
		</div>

		<div ng-show="isSet(0)">
			<h2>Drzave</h2>
			<table>
				<tr>
					<td><input type= "text" ng-model = "drzavaSearch"></td>
					<td><button ng-click = "pretraziDrzave()">Pretrazi</td>
				</tr>
			</table>
			<hr/>
			<table ng-repeat='drzava in drzave'>
				<tr >
					<td style = "width:120px; heigth: 70px">{{drzava.nazivDrzave}}</td>
					<td><button ng-click="obrisiDrzavu(drzava.id)">Obrisi</button></td>
					<td><button ng-click="setDrzavaZaIzmenu(drzava)">Izmeni</button></td>
					<td><button ng-click="setDrzavaZaNext(drzava)">Next</button></td>
				</tr>
				<tr ng-show = 'idDrzaveZaIzmenu == drzava.id'>
					<td colspan = 3>
						Izmena drzave {{drzava.nazivDrzave}}
					</td>
				</tr>
				<tr ng-show = 'idDrzaveZaIzmenu == drzava.id'>
					<td colspan = 3>
						<hr/>
					<td>
				</tr>
				<tr ng-show = 'idDrzaveZaIzmenu == drzava.id'>
					<td><input style = "width:100px; heigth: 70px" type=text ng-model="$ctrl.nazivDrzaveIzmena"></td>
					<td><button ng-click="izmeniDrzavu(drzava.id)">Potvrdi</button></td>				
				</tr>
				<tr ng-show = 'idDrzaveZaIzmenu == drzava.id'>
					<td colspan = 3>
						<hr/>
					<td>
				</tr>
				
				<tr ng-show = 'idDrzaveZaNext == drzava.id'>
					<td ng-show = "naseljenaMestaZaNext.length == 0" colspan = 4>
						{{drzava.nazivDrzave}} nema naseljenih mesta
					</td>
					<td ng-show = "naseljenaMestaZaNext.length != 0"  colspan = 4>
						Naseljena mesta drzave {{drzava.nazivDrzave}}
					</td>

				</tr>
				<tr ng-show = 'idDrzaveZaNext == drzava.id'>
					<td ng-show ="naseljenaMestaZaNext.length != 0" colspan = 4>
						<hr/>
					</td>
				</tr>
				<tr ng-repeat='naseljenoMesto in naseljenaMestaZaNext' ng-show = 'idDrzaveZaNext == drzava.id'>
					<td style = "width:120px; heigth: 70px">{{naseljenoMesto.naziv}}</td>
					<td style = "width:60px; heigth: 70px">{{naseljenoMesto.pttOznaka}}</td>
					<td style = "width:60px; heigth: 70px">{{naseljenoMesto.drzava.nazivDrzave}}</td>
				</tr>
				<tr ng-show = 'idDrzaveZaNext == drzava.id'>
					<td ng-show = "naseljenaMestaZaNext.length != 0" colspan = 3>
						<hr/>
					<td>
				</tr>
			</table>
		</div>
		<div ng-show="isSet(1)">
			<div>
				<h2>Unesite podatke o drzavi:</h2>
				<table>
					<tr>
						<td>Naziv:</td>
						<td><input type=text ng-model="nazivDrzave"></td>
					<tr>
				</table>
				<button ng-click="dodajDrzavu()">Dodaj</button>
			</div>
		</div>
	</div>
</div>

