<div ng-cloak ng-controller="naseljenoMestoCtrl as $ctrl">
	<div>
		<h1>Naseljeno Mesto</h1>
	</div>

	<div>
		<div id="tabs">
			<ul>
				<li ng-class="{active: isSet(0)}"><a ng-click="setTab(0)"
					href=""><span>Naseljena mesta</span></a></li>
				<li ng-class="{active: isSet(1)}"><a ng-click="setTab(1)"
					href=""><span>Dodaj naseljeno mesto</span></a></li>
			</ul>
		</div>

		<div ng-show="isSet(0)">
			<h2>Naseljena mesta</h2>
			<table>
				<tr>
					<td><input type= "text" ng-model = "naseljenaMestaSearch"></td>
					<td><button ng-click = "pretraziNaseljenaMesta()">Pretrazi</td>
				</tr>
			</table>
			<hr/>
			<table ng-repeat='naseljenoMesto in naseljenaMesta'>
				<tr>
					<td style = "width:120px; heigth: 70px">{{naseljenoMesto.naziv}}</td>
					<td style = "width:120px; heigth: 70px">{{naseljenoMesto.pttOznaka}}</td>
					<td style = "width:120px; heigth: 70px">{{naseljenoMesto.drzava.nazivDrzave}}</td>
					<td><button ng-click="obrisiNaseljenoMesto(naseljenoMesto.id)">Obrisi</button></td>
					<td><button ng-click="setNaseljenoMestoZaIzmenu(naseljenoMesto)">Izmeni</button></td>
				</tr>
				<tr ng-show = 'idNaseljenogMestaZaIzmenu == naseljenoMesto.id'>
					<td colspan = 5>
						<hr/>
					<td>
				</tr>
				<tr ng-show = 'idNaseljenogMestaZaIzmenu == naseljenoMesto.id '>
					<td><input style = "width:100px" type=text ng-model="$ctrl.nazivNaseljenogMestaIzmena"></td>
					<td><input style = "width:100px" type=text ng-model="$ctrl.pttOznakaNaseljenogMestaIzmena"></td>
					<td>
						<select style = "width:100px" ng-options="drzava.nazivDrzave for drzava in drzave" ng-model="$ctrl.drzavaNaseljenogMestaIzmena"></select>
					</td>
					<td><button ng-click = "prikaziDrzaveIzmena()">Prikazi</button></td>
					<td><button ng-click = "izmeniNaseljenoMesto(naseljenoMesto.id)">Potvrdi</button></td>				
				</tr>
				<tr ng-show = "daLiDaPrikazeDrzaveIzmenaZoom()">
					<td colspan = 5>
						<hr>
						<table  ng-repeat='drzava in drzave'>
							<tr >
								<td style = "width:120px; heigth: 70px">{{drzava.nazivDrzave}}</td>
								<td>
									<button ng-click="odaberiDrzavuIzmena(drzava)">Odaberi</button>
								</td>
							</tr>
						</table>
						<hr>
					</td>
				</tr>
				<tr ng-show = "daLiDaPrikazeDrzaveIzmenaZoom()">
					<td>
						<button ng-click = "skloniIzmena()">Skloni</button>
					</td>
				</tr>
				<tr ng-show = 'idNaseljenogMestaZaIzmenu == naseljenoMesto.id'>
					<td colspan = 3>
						<hr/>
					<td>
				</tr>
			</table>
		</div>
		<div ng-show="isSet(1)">
			<div>
				<h2>Unesite podatke o naseljenom mestu:</h2>
				<table>
					<tr>
						<td>Naziv:</td>
						<td><input style = "width:100px" type=text ng-model="nazivNaseljenogMesta"></td>
					</tr>
					<tr>
					
						<td>PTT Oznaka</td>
						<td><input style = "width:100px" type=text ng-model="pttOznakaNaseljenogMesta"></td>
					</tr>
					<tr>
						<td>Drzava:</td>
						<td>
							<select style="width: 100px" ng-options="drzava.nazivDrzave for drzava in drzave" ng-model="drzavaNaseljenogMesta"></select></td>
						<td>
							<button class="btn" ng-click="prikaziDrzaveBool = true">Prikazi drzave</button>
						</td>
					</tr>
				</table>
				<button ng-click="dodajNaseljenoMesto()">Dodaj</button>
				
				<div ng-show = "prikaziDrzaveBool == true" >
					<hr>
					<table  ng-repeat='drzava in drzave'>
						<tr >
							<td style = "width:120px; heigth: 70px">{{drzava.nazivDrzave}}</td>
							<td><button ng-click="odaberiDrzavu(drzava)">Odaberi</button></td>
						</tr>
					</table>
					<hr>
					<button ng-click="skloni()">Skloni</button>
				</div>
			</div>
		</div>
	</div>
</div>

