<div ng-cloak ng-controller="racunCtrl as $ctrl">
	<div>
		<h1>Racun</h1>
		<!--<a ng-click="logOut()" href="">Izloguj se</a>-->
	</div>

	<div>
		<div id="tabs">
			<ul>
				<li ng-class="{active: isSet(0)}"><a ng-click="setTab(0); prikaziPretraguRacuni = false"
					href=""><span>Racuni</span></a></li>
				<li ng-class="{active: isSet(1)}"><a ng-click="setTab(1)"
					href=""><span>Dodaj racun</span></a></li>
				<li ng-class="{active: isSet(2)}"><a ng-click="setTab(2)"
					href=""><span>Izmeni racun</span></a></li>
			</ul>
		</div>

		<div ng-show="isSet(0)">
			<div ng-show = "idRacunaZaDnevnaStanja =! -1">
			
			
				<button ng-click="nazadNaRacune()">Nazad</button>			
			</div>
		
		
			<div ng-show = "idRacunaZaDnevnaStanja == -1">
				<h2>Racuni</h2>
					
				<button ng-show = "racuni.length != 0 || prikaziPretraguRacuni" ng-click="prikaziPretraguRacuni = true">Pretraga</button>
				<div ng-show = "prikaziPretraguRacuni">
					<h2>Unesite podatke o racunu:</h2>
					<table>
						<tr>
							<td>Broj racuna:</td>
							<td><input type=text ng-model="brojRacunaPretraga"></td>
						</tr>
						<tr>
							<td>Status racuna:</td>
							<td>	
								<input type="radio" ng-model="statusRacunaPretraga" value=0> Aktivan
								<input type="radio" ng-model="statusRacunaPretraga" value=1> Zatvoren
							</td>
						</tr>
						<!-- 
						<tr>
							<td>Klijent:</td>
							<td>
								<select style="width: 100px" ng-options="klijent.ime for klijent in klijenti" ng-model="klijentRacunaPretraga"></select></td>
							<td>
						</tr>
						
						<tr>
							<td>Banka:</td>
							<td>
								<select style="width: 100px" ng-options="delatnost.nazivDelatnosti for delatnost in delatnosti" ng-model="delatnostRacunaPretraga"></select></td>
							<td>
						</tr>
						<tr>
							<td>Valuta:</td>
							<td>
								<select style="width: 100px" ng-options="delatnost.nazivDelatnosti for delatnost in delatnosti" ng-model="delatnostRacunaPretraga"></select></td>
							<td>
						</tr>
						 -->
						<tr>
							<td>
							<td>
							<td>
								<button ng-click="pretragaRacunaPoPoljima()">Pretrazi</button>
								
							</td>
							<td>
								<button ng-click="prikaziPretraguRacuni = false; ponistiPretraguRacuna()">Iskljuci</button>
							</td>
						</tr>
					</table>
				</div>
						
				<table>
					<tr>
						<td style = "width:130px; heigth: 70px">Broj racuna:</td>
						<td style = "width:130px; heigth: 70px">Status racuna</td>
						<td style = "width:190px; heigth: 70px">Klijent</td>
						<td style = "width:130px; heigth: 70px">Banka</td>
						<td style = "width:130px; heigth: 70px">Valuta</td>

					</tr>
					<tr  ng-repeat='racun in racuni'>
						<td style = "width:130px; heigth: 70px">{{racun.brojRacuna}}</td>
						<td style = "width:130px; heigth: 70px">
							<div ng-show = "racun.statusRacuna == 0">Aktivan</div>
							<div ng-show = "racun.statusRacuna == 1">Zatvoren</div>
						</td>
						
						<td style = "width:190px; heigth: 70px">
							<div ng-show = "racun.klijent.rola.naziv == 'PravnoLice'">{{racun.klijent.naziv}}</div>
							<div ng-show = "racun.klijent.rola.naziv == 'FizickoLice'">{{racun.klijent.ime}} {{racun.klijent.prezime}}</div>
						</td> 
						<td style = "width:130px; heigth: 70px">{{racun.banka.nazivBanke}}</td>
						<td style = "width:130px; heigth: 70px">{{racun.valuta.nazivValute}}</td>
						<td><button ng-click="obrisiRacun(racun.id)">Obrisi</button></td>
						<td><button ng-click="setRacunZaIzmenu(racun)">Izmeni</button></td>
						<td><button ng-click="setRacunZaDnevnaStanja(racun)">Dnevna stanja</button></td>
					</tr>
				</table>
			</div>
		</div>
		<div ng-show="isSet(1)">
			<div>
				<h2>Unesite podatke o racunu:</h2>
				<table>
					<tr>
						<td>Broj racuna:</td>
						<td><input type=text ng-model="brojRacuna"></td>
					</tr>
					<tr>
						<td>Status racuna:</td>
						<td>	
							<input type="radio" ng-model="statusRacuna" value=0> Aktivan
							<input type="radio" ng-model="statusRacuna" value=1> Zatvoren
						</td>
					</tr>

					<tr>
						<td>Klijent:</td>
						<td>
							<select style="width: 180px" ng-options="klijent.id for klijent in klijenti" ng-model="klijentRacuna"></select>
						</td>
						<td>
							<button class="btn" ng-click="prikaziKlijenteBool = true">Prikazi klijente</button>
						</td>
					</tr>

					<tr>
						<td>Banka:</td>
						<td>
							<select style="width: 180px" ng-options="banka.nazivBanke for banka in banke" ng-model="bankaRacuna"></select>
						</td>
						<td>
							<button class="btn" ng-click="prikaziBankeBool = true">Prikazi banke</button>
						</td>
					</tr>

					<tr>
						<td>Valute:</td>
						<td>
							<select style="width: 180px" ng-options="valuta.nazivValute for valuta in valute" ng-model="valutaRacuna"></select>
						</td>
						<td>
							<button class="btn" ng-click="prikaziValuteBool = true">Prikazi valute</button>
						</td>
					</tr>
				</table>
				<button ng-click="dodajRacun()">Dodaj</button>
				
				<div ng-show = "prikaziKlijenteBool == true" >
					<hr>
					<table  ng-repeat='klijent in klijenti'>
						<tr >
							<td style = "width:120px; heigth: 70px">{{klijent.id}}</td>
							<td><button ng-click="odaberiKlijenta(klijent)">Odaberi</button></td>
						</tr>
					</table>
					<hr>
					<button ng-click="skloniKlijente()">Skloni</button>
				</div>
				
				<div ng-show = "prikaziBankeBool == true" >
					<hr>
					<table>
						<tr>
							<td style = "width:120px; heigth: 70px">
								Naziv
							</td>
							<td style = "width:120px; heigth: 70px">
								Sifra
							</td>
							<td style = "width:120px; heigth: 70px">
								Swift kod
							</td>
							<td style = "width:120px; heigth: 70px">
								Obracunski racun
							</td>
						</tr>
					</table>
					<table  ng-repeat='banka in banke'>
						<tr >
							<td style = "width:120px; heigth: 70px">{{banka.nazivBanke}}</td>
							<td style = "width:120px; heigth: 70px">{{banka.sifraBanke}}</td>
							<td style = "width:120px; heigth: 70px">{{banka.swiftKod}}</td>
							<td style = "width:120px; heigth: 70px">{{banka.obracunskiRacun}}</td>
							<td><button ng-click="odaberiBanku(banka)">Odaberi</button></td>
						</tr>
					</table>
					<hr>
					<button ng-click="skloniBanke()">Skloni</button>
				</div>
				
				<div ng-show = "prikaziValuteBool == true" >
					<hr>
					<table>
						<tr>
							<td style = "width:120px; heigth: 70px">
								Naziv
							</td>
							<td style = "width:120px; heigth: 70px">
								Sifra
							</td>
						</tr>
					</table>
					<table  ng-repeat='valuta in valute'>
						<tr >
							<td style = "width:120px; heigth: 70px">{{valuta.nazivValute}}</td>
							<td style = "width:120px; heigth: 70px">{{valuta.sifraValute}}</td>
							<td><button ng-click="odaberiValutu(valuta)">Odaberi</button></td>
						</tr>
					</table>
					<hr>
					<button ng-click="skloniValute()">Skloni</button>
				</div>
			</div>
		</div>
		
		<div ng-show="isSet(2)">
			<div>
				<h2>Izmena podataka o racunu:</h2>
				<table>
					<tr>
						<td>Broj racuna:</td>
						<td><input type=text ng-model="$ctrl.brojRacunaIzmena"></td>
					</tr>
					<tr>
						<td>Status racuna:</td>
						<td>
							<div>
								<input checked = "$ctrl.statusRacunaIzmena == 0" type="radio" ng-model="$ctrl.statusRacunaIzmena" value=0> Aktivan
								<input checked = "$ctrl.statusRacunaIzmena == 1" type="radio" ng-model="$ctrl.statusRacunaIzmena" value=1> Zatvoren
							</div>
						</td>
					</tr>

					<tr>
						<td>Klijenti:</td>
						<td>
							<select style="width: 180px" ng-options="klijent.id for klijent in klijenti" ng-model="$ctrl.klijentRacunaIzmena"></select>
						</td>
						<td>
							<button class="btn" ng-click="prikaziKlijenteBoolIzmena = true">Prikazi klijente</button>
						</td>
					</tr>

					<tr>
						<td>Banka:</td>
						<td>
							<select style="width: 180px" ng-options="banka.nazivBanke for banka in banke" ng-model="$ctrl.bankaRacunaIzmena"></select>
						</td>
						<td>
							<button class="btn" ng-click="prikaziBankeBoolIzmena = true">Prikazi banke</button>
						</td>
					</tr>

					<tr>
						<td>Valute:</td>
						<td>
							<select style="width: 180px" ng-options="valuta.nazivValute for valuta in valute" ng-model="$ctrl.valutaRacunaIzmena"></select>
						</td>
						<td>
							<button class="btn" ng-click="prikaziValuteBoolIzmena = true">Prikazi valute</button>
						</td>
					</tr>

				</table>
				<button ng-click="izmeniRacun()">Potvrdi</button>
				
				<div ng-show = "prikaziKlijenteBoolIzmena == true" >
					<hr>
					<table  ng-repeat='klijent in klijenti'>
						<tr >
							<td style = "width:120px; heigth: 70px">{{klijent.id}}</td>
							<td><button ng-click="odaberiKlijentaIzmena(klijent)">Odaberi</button></td>
						</tr>
					</table>
					<hr>
					<button ng-click="skloniKlijenteIzmena()">Skloni</button>
				</div>
				
				<div ng-show = "prikaziBankeBoolIzmena == true" >
					<hr>
					<table>
						<tr>
							<td style = "width:120px; heigth: 70px">
								Naziv
							</td>
							<td style = "width:120px; heigth: 70px">
								Sifra
							</td>
							<td style = "width:120px; heigth: 70px">
								Swift kod
							</td>
							<td style = "width:120px; heigth: 70px">
								Obracunski racun
							</td>
						</tr>
					</table>
					<table  ng-repeat='banka in banke'>
						<tr >
							<td style = "width:120px; heigth: 70px">{{banka.nazivBanke}}</td>
							<td style = "width:120px; heigth: 70px">{{banka.sifraBanke}}</td>
							<td style = "width:120px; heigth: 70px">{{banka.swiftKod}}</td>
							<td style = "width:120px; heigth: 70px">{{banka.obracunskiRacun}}</td>
							<td><button ng-click="odaberiBankuIzmena(banka)">Odaberi</button></td>
						</tr>
					</table>
					<hr>
					<button ng-click="skloniBankeIzmena()">Skloni</button>
				</div>
				
				<div ng-show = "prikaziValuteBoolIzmena == true" >
					<hr>
					<table>
						<tr>
							<td style = "width:120px; heigth: 70px">
								Naziv
							</td>
							<td style = "width:120px; heigth: 70px">
								Sifra
							</td>
						</tr>
					</table>
					<table  ng-repeat='valuta in valute'>
						<tr >
							<td style = "width:120px; heigth: 70px">{{valuta.nazivValute}}</td>
							<td style = "width:120px; heigth: 70px">{{valuta.sifraValute}}</td>
							<td><button ng-click="odaberiValutuIzmena(valuta)">Odaberi</button></td>
						</tr>
					</table>
					<hr>
					<button ng-click="skloniValuteIzmena()">Skloni</button>
				</div>
				
				<button ng-click="idRacunaZaIzmenu = -1; setTab(0);">Nazad</button>
			</div>
		</div>
		
	</div>
</div>
